
.navbar{

    
    background: linear-gradient(
        -45deg, #1391a5, #274685) !important;
        color: #fff !important;
 
    
}
header{
    background: linear-gradient(
        -45deg, #1391a5, #274685) !important;
        color: #fff !important;
       
        
}
.brand-name{
    background-color: #fff !important;
    color: black;
    padding: 10px;
}
a, li{
    color: #fff !important;
}
.dropdown-menu{
    background-color: #fff;
    color: black !important;
} 
.dropdown-item{
    background-color: #fff;
    color: black !important;
}
.login-btn{
    background-color: transparent;
    border: none;
    color: #fff;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.sign-btn{
    background-color: #f27c1e;
    color: #fff;
    border: 1px solid #f27c1e;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.navbar-toggler-icon{
    color: #fff !important;
    
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
